.no-padding {
	padding: 0;
}
a:hover {
	color: #c90109;
	text-decoration: none;
}
section {
	margin-bottom:20px;
}
@font-face {
	font-family: 'Open Sans';
	src:url(/fonts/OpenSans-Regular.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=vietnamese');
body {
	font-family: 'Open Sans';
	font-size:12px;
	color: #363636;
}
img {
	max-width:100%;
	height: auto !important;
}
.top-header {
	padding-top:10px;
}
.fun-btn {
	margin: 16px 0;
}
.header-search {
	position: relative;
	margin:16px 0;
}
.header-search .search_text {
	width:100%;
	height:45px;
	border: 2px solid #fb005b;
	padding:5px 15px;
	padding-right:60px;
}
.header-search .search_btn {
	position: absolute;
	height: 45px;
	width: 45px;
	font-size: 20px;
	text-align: center;
	top: 0;
	right: 0;
	border: none;
	background: #fb005b;
	color: #fff;
}
.slideshow-container {
	position: relative;
	width: 80%;
	margin: 0 auto;
}
.mySlides {
	display: none;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: #fb005b;
}
._fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
.clearfix {
	clear: both;
}
.list_pro {
	margin: 20px 0;
	margin-right: -5px;
}
.item_pro {
	width: 20%;
	float: left;
	border: 1px solid #eeeeee;
	position: relative;
	overflow: hidden;
	margin-left: -1px;
	margin-bottom: -1px;
}
.item_pro a {
	text-decoration: none;
	color: #eb8147;
}
.item_pro .hover_top {
	position: absolute;
	height: 30%;
	top: -100%;
	left: 0;
	width: 100%;
	transition: all 0.3s;
	z-index: 99;
}
.top_pro {
	background: #fff;
}
.top_pro h3 {
	margin: 5px 10px;
	text-align: center;
	font-size: 14px;
	color: #333;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
}
.top_pro h3 a {
	font-size: 14px;
	color: #333;
	margin-left: 5px;
	margin-right: 5px;
}
.price_pro {
	margin: 5px 0;
	font-size: 16px;
}
.price_pro .price_sale {
	color: #ff0000;
}
.price_pro span {
	margin: 0 3px;
}
.price_pro .price {
	color: #999;
	text-decoration: line-through;
}
sup {
	top: -.5em;
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
.img_pro {
	position: relative;
}
.bg_new {
	background: #66ff33;
}
.bg_hot {
	background:#ff0000;
}
.bg_trend {
	background:#ff6000;
}
.pan_pro {
	position: absolute;
	z-index: 9;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	width: 42px;
	height: 21px;
	top: 9px;
	left: 9px;
	font-size: 13px;
	text-align: center;
	line-height: 21px;
}
.img {
	position: relative;
	overflow: hidden;
	text-align: center;
}
.short_pro {
	background-color: #fb005b;
	padding: 10px;
	color: #fff;
	transition: all 0.3s;
	position: absolute;
	opacity: 0;
	height: 70%;
	width: 100%;
	visibility: hidden;
	top: 100%;
	z-index: 99;
	overflow: auto;
}
.short_pro ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}
.short_pro p {
	margin: 0 0 10px;
}
.item_pro:hover .hover_top {
	top: 0;
	opacity: 1;
	visibility: visible;	
}
.item_pro:hover .short_pro {
	top: 30%;
	visibility: visible;
	opacity: 1;
}
/* scrollbar */
.short_pro::-webkit-scrollbar,
.detail-infos::-webkit-scrollbar {
    width: 3px;
}
 .short_pro::-webkit-scrollbar-track,
.detail-infos::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 .short_pro::-webkit-scrollbar-thumb,
.detail-infos::-webkit-scrollbar-thumb {
  background-color: #ff7500;
  outline: 1px solid #cc5600;
}
.viewmore-section {
	text-align: center;
}
.viewmore-section a {
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
	padding: 10px 25px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	margin-top: 20px;
	position: relative;
	display: inline-block;
}
.viewmore-section a span {
	transition: all 0.5s;
}
.viewmore-section a:before {
	position: absolute;
	content: "";
	top:0;
	left:0;
	border-radius: 3px;
	width:100%;
	height:100%;
	transform: scaleY(0);
	transition: all 0.3s;
	z-index: 0;
}
.viewmore-section a:hover span {
	color: #fff !important;
	z-index: 9;
	position: relative;
}
.viewmore-section a:hover:before {
	transform: scaleY(1);
	background: #fb005b;
}
.my-pagination {
	display: flex;
	justify-content: center;
}
.my-pagination a span {
	color: #000;
}
.my-pagination .new_active_page span,
.my-pagination .hot_active_page span,
.my-pagination .trend_active_page span,
.my-pagination .type_active_page span,
.my-pagination .company_active_page span,
.my-pagination .same_type_active_page span,
.my-pagination .same_company_active_page span,
.my-pagination .search_active_page span,
.my-pagination .cart_active_page span,
.my-pagination .history_active_page span,
.my-pagination .admin_active_page span,
.my-pagination .admin_active_user_page span,
.my-pagination .admin_active_order_page span,
.my-pagination .admin_active_type_page span,
.my-pagination .admin_active_company_page span {
	color: #fff;
}
.my-pagination > li > a.new_active_page,
.my-pagination > li > a.hot_active_page,
.my-pagination > li > a.trend_active_page,
.my-pagination > li > a.type_active_page,
.my-pagination > li > a.company_active_page,
.my-pagination > li > a.same_type_active_page,
.my-pagination > li > a.same_company_active_page,
.my-pagination > li > a.search_active_page,
.my-pagination > li > a.cart_active_page,
.my-pagination > li > a.history_active_page,
.my-pagination > li > a.admin_active_page,
.my-pagination > li > a.admin_active_user_page,
.my-pagination > li > a.admin_active_order_page,
.my-pagination > li > a.admin_active_type_page,
.my-pagination > li > a.admin_active_company_page {
	z-index: 9;
  color: #fff;
  cursor: default;
	background-color: #fb005b;
	border-color: #fb005b;
}
.details-list-group li, .history-list-group li {
	color: #3995f7;
	font-weight: bold;
	font-size: 15px;
}
.group_title_1 {
	background: #eeeeee;
}
.name-group {
	margin: 0;
}
.name-group a {
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #fb005b;
	padding: 10px 20px;
}
footer {
	margin-top: 20px;
	clear: both;
}
.bottom_footer {
	background: #fb005b;
	color: #fff;
	position: relative;
}
.bottom_footer .container {
	position: relative;
	z-index: 99;
}
.right-color-f {
	background: #fb005b;
}
.block-footer {
	padding: 20px 0;
}
.block-footer strong.title {
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
}
.block-footer .content {
	margin-top: 20px;
}
.block-footer.last .content {
	margin-top: 0;
}
.block-footer .content p {
	margin-bottom: 5px;
}
.block-footer .content p i {
	margin-right: 10px;
}
.block-footer .content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.block-footer .content ul li {
	margin: 5px 0;
}
.block-footer .content a {
	color: #fff;
}
.bottom-block-f {
	margin-top: 20px;
}
.bottom-block-f img {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}
.phone-num {
	display: block;
	font-size: 30px;
	color: #fff600;
	font-weight: bold;
}
.bottom-footer {
	margin: 0 15px;
	border-top: 1px solid #33bd62;
	padding: 15px 0;
}
.list-socials {
	text-align: right;
}
.list-info-footer {
	padding: 10px 0;
}
.list-info-footer a {
	color: #6fff4e;
}
.list-socials a {
	display: inline-block;
	width: 38px;
	height: 38px;
	border-radius: 5px;
	background: #24be58;
	color: #fff;
	line-height: 38px;
	text-align: center;
	margin-left: 10px;
	transition: all 0.5s;
	font-size: 18px;
}
.list-socials a:hover {
	color: #333;
	background: #77ff33;
}
a.facebook {
	background: #114cbd;
}
a.youtube {
	background: #cc181e;
}
a.google {
	background: #d23e30;
}
@media(max-width: 993px) {
	.header-logo{text-align: center;}
	.header-search{margin:5px 15px;}
	.item_pro{width:50%;}
	footer .bottom_footer .row{margin:auto;}
}
@media(max-width: 768px){
	.container > .row{
		margin:auto;
	}
	#sidebar{display: none;}
	footer .bottom_footer .row{margin:0 -15px;}
	.left-color-f{padding:0 15px;}
	.list-socials,
	.bottom-footer{text-align: center;}
}
@media(max-width: 368px) {
	#sidebar{display: none;}
	.item_pro{width:100%;}
	.name-group{text-align: center;}
	.name-group a{font-size: 14px;display: block;}
}
