include ../layout/header.pug
.container-fluid
  .row.row-offcanvas.row-offcanvas-right
    .col-xs-12.col-sm-10.col-sm-push-2
      include ../layout/slide.pug
      section.group_cat_home
        .container-fluid
          .row
            .group_title_1(style='margin-bottom: 20px;')
              .row
                .col-md-4.col-sm-4.col-xs-12
                  h3.name-group
                    a.title-name-group(href='#' style='pointer-events: none;') Chi tiết đơn hàng
            .list_pro.bought_book
              each item in items
                .item_pro
                  .img_pro
                    .img
                      a(href='/products/details/' + item.id)
                        img(src= item.image alt='')
                  .top_pro
                    h3
                      a(href='/products/details/' + item.id)= item.name
                    .price_pro.text-center
                      span.price_sale #{item.price}
                        sup &dstrok;
                .viewmore-section(style='text-align: left;')
                  a.quantity-item(href='#' style='margin-top: 0; margin-left: 20px; background: #fb005b; color: #fff; pointer-events: none;')
                    span Số lượng: #{item.quantity}
                .clearfix(style='margin-bottom: 10px;')
              ul.list-group.details-list-group(style='margin-top: 20px;')
                li.list-group-item Ng&agrave;y mua: #{items[0].date}
                li.list-group-item Tr&#x1EA1;ng th&aacute;i: #{items[0].status}
    include ../layout/sidebar.pug
include ../layout/footer.pug
