doctype html
head
  title &Dstrok;&abreve;ng k&yacute;
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
  script(type='text/javascript' src='/js/jquery.min.js')
  script(type='text/javascript' src='/js/bootstrap.min.js')
  link(rel='stylesheet' type='text/css' href='/css/login.css')
  link(rel='shortcut icon' type='image/x-icon' href='/images/ic_book.png')
#wrap.container
  .row(style='margin-bottom: 15px;')
    .col-md-6.col-md-offset-3
      form.form(action='/users/signUp' method='post' accept-charset='utf-8' role='form')
        legend &Dstrok;&abreve;ng k&yacute;
        h4 N&oacute; mi&#x1EC5;n ph&iacute; v&agrave; s&#x1EBD; lu&ocirc;n lu&ocirc;n l&agrave; nh&#x1B0; v&#x1EAD;y.
        .row
          .col-xs-6.col-md-6
            input.form-control.input-lg(type='text' name='firstname' value='' placeholder='Họ' required)
          .col-xs-6.col-md-6
            input.form-control.input-lg(type='text' name='lastname' value='' placeholder='Tên' required)
        input.form-control.input-lg(type='email' name='email' value='' placeholder='Email' required)
        input.form-control.input-lg(minlength='6' type='password' name='password' value='' placeholder='Mật khẩu' required id='password')
        input.form-control.input-lg(type='password' name='confirm_password' value='' placeholder='Xác nhận mật khẩu' required id='confirm_password')
        label Ng&agrave;y sinh
        .row
          .col-xs-4.col-md-4
            select.form-control.input-lg(name='month')
              option(value='01') Jan
              option(value='02') Feb
              option(value='03') Mar
              option(value='04') Apr
              option(value='05') May
              option(value='06') Jun
              option(value='07') Jul
              option(value='08') Aug
              option(value='09') Sep
              option(value='10') Oct
              option(value='11') Nov
              option(value='12') Dec
          .col-xs-4.col-md-4
            select.form-control.input-lg(name='day')
              option(value='01') 01
              option(value='02') 02
              option(value='03') 03
              option(value='04') 04
              option(value='05') 05
              option(value='06') 06
              option(value='07') 07
              option(value='08') 08
              option(value='09') 09
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
              option(value='24') 24
              option(value='25') 25
              option(value='26') 26
              option(value='27') 27
              option(value='28') 28
              option(value='29') 29
              option(value='30') 30
              option(value='31') 31
          .col-xs-4.col-md-4
            select.form-control.input-lg(name='year')
              option(value='1935') 1935
              option(value='1936') 1936
              option(value='1937') 1937
              option(value='1938') 1938
              option(value='1939') 1939
              option(value='1940') 1940
              option(value='1941') 1941
              option(value='1942') 1942
              option(value='1943') 1943
              option(value='1944') 1944
              option(value='1945') 1945
              option(value='1946') 1946
              option(value='1947') 1947
              option(value='1948') 1948
              option(value='1949') 1949
              option(value='1950') 1950
              option(value='1951') 1951
              option(value='1952') 1952
              option(value='1953') 1953
              option(value='1954') 1954
              option(value='1955') 1955
              option(value='1956') 1956
              option(value='1957') 1957
              option(value='1958') 1958
              option(value='1959') 1959
              option(value='1960') 1960
              option(value='1961') 1961
              option(value='1962') 1962
              option(value='1963') 1963
              option(value='1964') 1964
              option(value='1965') 1965
              option(value='1966') 1966
              option(value='1967') 1967
              option(value='1968') 1968
              option(value='1969') 1969
              option(value='1970') 1970
              option(value='1971') 1971
              option(value='1972') 1972
              option(value='1973') 1973
              option(value='1974') 1974
              option(value='1975') 1975
              option(value='1976') 1976
              option(value='1977') 1977
              option(value='1978') 1978
              option(value='1979') 1979
              option(value='1980') 1980
              option(value='1981') 1981
              option(value='1982') 1982
              option(value='1983') 1983
              option(value='1984') 1984
              option(value='1985') 1985
              option(value='1986') 1986
              option(value='1987') 1987
              option(value='1988') 1988
              option(value='1989') 1989
              option(value='1990') 1990
              option(value='1991') 1991
              option(value='1992') 1992
              option(value='1993') 1993
              option(value='1994') 1994
              option(value='1995') 1995
              option(value='1996') 1996
              option(value='1997') 1997
              option(value='1998') 1998
              option(value='1999') 1999
              option(value='2000') 2000
              option(value='2001') 2001
              option(value='2002') 2002
              option(value='2003') 2003
              option(value='2004') 2004
              option(value='2005') 2005
              option(value='2006') 2006
              option(value='2007') 2007
              option(value='2008') 2008
              option(value='2009') 2009
              option(value='2010') 2010
              option(value='2011') 2011
              option(value='2012') 2012
              option(value='2013') 2013
              option(value='2014') 2014
              option(value='2015') 2015
              option(value='2016') 2016
        label Gi&#x1EDB;i t&iacute;nh:
        label.radio-inline(style='margin-left: 5px')
          input#male(type='radio' value=0 name='gender' required)
          | Nam
        label.radio-inline
          input#female(type='radio' value=1 name='gender' required)
          | N&#x1EEF;
        br
        .g-recaptcha(data-sitekey='6Ldu4lUUAAAAAK5XeFfExSBtAxeJAAR_NpEeH7bo' name='captcha')
        span.help-block
          | B&#x1EB1;ng c&aacute;ch nh&#x1EA5;p v&agrave;o T&#x1EA1;o t&agrave;i kho&#x1EA3;n, b&#x1EA1;n &dstrok;&#x1ED3;ng &yacute; v&#x1EDB;i &Dstrok;i&#x1EC1;u kho&#x1EA3;n c&#x1EE7;a ch&uacute;ng t&ocirc;i v&agrave; b&#x1EA1;n &dstrok;&atilde; &dstrok;&#x1ECD;c Ch&iacute;nh s&aacute;ch s&#x1EED; d&#x1EE5;ng d&#x1EEF; li&#x1EC7;u c&#x1EE7;a ch&uacute;ng t&ocirc;i, bao g&#x1ED3;m c&#x1EA3; vi&#x1EC7;c s&#x1EED; d&#x1EE5;ng cookie c&#x1EE7;a ch&uacute;ng t&ocirc;i.
        button.btn.btn-lg.btn-primary.btn-block.signup-btn(type='submit')
          | T&#x1EA1;o t&agrave;i kho&#x1EA3;n
script(src='https://www.google.com/recaptcha/api.js')
script(type='text/javascript' src='/js/confirm_pwd.js')
